[Unit]
Description=example for inspect lib (deprecated)

[Service]
Type=simple
User=bw
Group=bw
WorkingDirectory=/home/bw/run
ExecStart=/usr/bin/java -jar /home/bw/bin/inspect-example.jar

# Give a reasonable amount of time for the server to start up/shut down
TimeoutSec=300

[Install]
WantedBy=multi-user.target
